.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: #8b0000;
 animation: fadeIn 0.6s ease;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }




.loading-text {
  animation: bounce 2.5s ease-in-out infinite;
}

.progress-bar-container {
  width: 80%;
  max-width: 400px;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background-color: #8b0000;
  animation: fill-bar 2s ease-in-out forwards;
  transform-origin: left;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes fill-bar {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@media (max-width: 600px) {
  .progress-bar-container {
    width: 90%;
  }
}